{# templates/ingredient/_form.html.twig #}
{{ form_start(form, { attr: { class: 'max-w-sm mx-auto' } }) }}

<div class="mb-5">
	{{ form_label(form.name, "Nom", { label_attr: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" } }) }}
	{{ form_widget(form.name, { attr: { class: "shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } }) }}
	{% if form_errors(form.name) is not empty %}
		<span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
			<span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
			{{ form_errors(form.name) }}
		</span>
	{% endif %}
</div>

<div class="mb-5">
	{{ form_label(form.price, "Prix en €", { label_attr: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" } }) }}
	{{ form_widget(form.price, { attr: { class: "shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } }) }}
	{% if form_errors(form.price) is not empty %}
		<span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
			<span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
			{{ form_errors(form.price) }}
		</span>
	{% endif %}
</div>

<div class="mb-5">
	{{ form_label(form.createdAt, "Créé le", { label_attr: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" } }) }}
	{{ form_widget(form.createdAt, { attr: { class: "shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } }) }}
	{% if form_errors(form.createdAt) is not empty %}
		<span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
			<span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
			{{ form_errors(form.createdAt) }}
		</span>
	{% endif %}
</div>

<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
	{{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}
