{% extends 'base.html.twig' %}

{% block title %}Détail de l'ingrédient
{% endblock %}

{% block body %}
	<div class="max-w-3xl mx-auto p-6 mt-24">
		<h1 class="text-3xl font-bold mb-14 dark:text-white">Détail de l'ingrédient</h1>
		{# Affichage des messages flash #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
					<span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
					{{ message }}
				</span>
			{% endfor %}
		{% endfor %}

		<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<tbody>
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">ID</th>
						<td class="px-6 py-4">{{ ingredient.id }}</td>
					</tr>
					<tr class="bg-gray-50 border-b dark:bg-gray-900 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">Nom</th>
						<td class="px-6 py-4">{{ ingredient.name }}</td>
					</tr>
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">Prix</th>
						<td class="px-6 py-4">{{ ingredient.price }}
							€</td>
					</tr>
					<tr class="bg-gray-50 border-b dark:bg-gray-900 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">Créé le</th>
						<td class="px-6 py-4">{{ ingredient.createdAt ? ingredient.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="mt-6 flex space-x-4">
			<a href="{{ path('app_ingredient_index') }}" class="text-blue-600 hover:underline dark:text-blue-500">Retour à la liste</a>
			<a href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}" class="text-blue-600 hover:underline dark:text-blue-500">Modifier</a>
		</div>

		<div class="mt-4">
			{{ include('ingredient/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
