{% extends 'base.html.twig' %}

{% block title %}MuscleRecipe - Mes Recettes
{% endblock %}

{% block body %}
	<div class="flex-grow justify-center">
		<div class="flex justify-center">
			<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Mes Recettes</h1>
		</div>

		{# Affichage des messages flash #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
					<span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
					{{ message }}
				</span>
			{% endfor %}
		{% endfor %}

		<div class="count text-gray-500 dark:text-gray-400">
			Nombre de recettes total :
			{{ recipes.getTotalItemCount }}
		</div>

		<div class="px-5 py-5">
			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>
							<th scope="col" class="px-6 py-3">Identifiant</th>
							<th scope="col" class="px-6 py-3">Nom</th>
							<th scope="col" class="px-6 py-3">Temps (min)</th>
							<th scope="col" class="px-6 py-3">Difficulté</th>
							<th scope="col" class="px-6 py-3">Prix (€)</th>
							<th scope="col" class="px-6 py-3">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for recipe in recipes %}
							<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
								<td class="px-6 py-4">{{ recipe.id }}</td>
								<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
									<a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ recipe.name }}</a>
								</th>
								<td class="px-6 py-4">{{ recipe.time ?: 'N/A' }}</td>
								<td class="px-6 py-4">
									{% if recipe.difficulty == 1 %}
										<span class="text-green-500">Facile</span>
									{% elseif recipe.difficulty == 2 %}
										<span class="text-blue-500">Moyen</span>
									{% elseif recipe.difficulty == 3 %}
										<span class="text-yellow-500">Difficile</span>
									{% elseif recipe.difficulty == 4 %}
										<span class="text-orange-500">Très difficile</span>
									{% else %}
										<span class="text-red-500">Expert</span>
									{% endif %}
								</td>
								<td class="px-6 py-4">{{ recipe.price ?: 'N/A' }}
									€</td>
								<td class="px-6 py-4">
									<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">Aucune recette trouvée.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="navigation flex justify-center mt-5">
				{{ knp_pagination_render(recipes) }}
			</div>

			<a href="{{ path('app_recipe_new') }}">
				<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ajouter une recette</button>
			</a>
		</div>
	</div>
{% endblock %}
